<!doctype html>
<html ng-app="Demo" ng-controller="AppController">
<head>
	<meta charset="utf-8" />

	<title>
		Lazy Loading Images With AngularJS
	</title>

	<style type="text/css">

	

	</style>
</head>
<body>

	<h1>
		Lazy Loading Images With AngularJS
	</h1>

	<p>
		You have {{ photos.size }} photos in your set.

		<a ng-click="rebuildSet()">Rebuild set</a>.
		<a ng-click="changeSource()">Change src</a>.
		<a ng-click="clearPhotos()">Clear</a>.
	</p>

	<a ng-show="isBoxVisible" ng-click="hideBox()" class="box">
		This is a big thing that may change,
		causing the DOCUMENT HEIGHT to change.
	</a>

	<ul class="photos">

		<li ng-repeat="photo in photos" class="photo">

			<img
				bn-lazy-src="{{ photo.src }}"
				width="150"
				height="150"
				alt="Christina Cox"
				/>

		</li>

	</ul>

</body>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Load scripts. -->
	<script type="text/javascript" src="jquery-2.0.3.min.js"></script>
	
	<script type="text/javascript" src="angular-1.0.7.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>

	<script type="text/javascript" src="js/lazyload.js"></script>

</html>